body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trafficlight{
background-color: black;
padding: 30px;
border-radius: 150px;
margin-top: 100px;
}
.sig{
    width: 150px;
    height: 150px;
    background-color: rgb(65, 65, 65);
    border-radius: 60px;
    margin-top: 10px;
    justify-content: space-between;
}
.red:hover{
    background-color: red;
    cursor: pointer;
}
.yellow:hover{
    background-color: yellow;
    cursor: pointer;
}
.green:hover{
    background-color: green;
    cursor: pointer;
}
